* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
    border-bottom: 1px solid gray;
    font-size: large;
    background-color: chartreuse;
}

ul li {
    list-style-type: none;
    display: inline;
    margin-left: 14px;
}

ul li a, div a {
    text-decoration: none;
    color: ;
}